/* 全体のボディスタイル */
html{
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;

    background-image: url("../UI_img/main_back_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
    background-attachment: fixed;
    
}

/* *****共通の構造スタイル(ログイン画面を除く)***** */

.content{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 2vw;
}

/*サイドバー*/
.sidebar{
    width: 40%;
    height: 45%;
    max-width: 350px;
    max-height: 450px;

    border: 3px solid;
    
    margin-right: 5px;
    margin-top: 5%;

    background-color:rgb(184, 184, 184);
}

.sidebar p{
    text-align: center;
    font-size: 20px;
    font-family: "Arial", 'メイリオ';
    
    font-weight: bold;
    border: 1px solid;

    margin-left: 20%;
    margin-right: 20%;

    background-color: #d0d0cf;
}

.sidebar ul{
    list-style: none;
    padding-left: 0;

    margin-left:5px;
    margin-right:5px;
    margin-top: 5px;
    margin-bottom: 0;
}

.sidebar button{
    width: 100%;
    height: 15%;
    background-color: rgb(175, 230, 230);
}

.search_img{
    width: 20%;
    float: left;
}
.search_button{
    display:flex;
    align-items: center;
}

.index_button{
    display:flex;
    align-items: center;
}
.list_img{
    width: 20%;
    float: left;
}


/*メインエリア*/
.main {
    width: 100%;
    height: 100%;
    

    position: relative;
}

/*ボタンの表示*/
button:hover{
    background-color: #63bc67;
}

/*flush表示スタイル*/

.flush{
    color:red;
    text-decoration: underline;
    float: left;
}


/* *****共通部分の構造スタイル ***** */


/* *****ログイン画面のスタイル***** */
.login-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background-color: #525151;
}

.login-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    
    width: 100%;
    max-width: 500px;
    height: 50%;

    text-align: center;
    position: relative;
}

.login-group {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    display: flex;
    align-items: center;

}

.login-group label{
    text-align: left;
    width: 100px;
    margin-right: 5px;
}

.login-group input{
    flex: 1;
    padding: 8px;
    box-sizing: border-box;
}

.login-container button{
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #0660d7;
    color: white;
    font-size: 10px;
    width: 50%;
}

.signup button{
    background-color:aqua;
    position: absolute;
    right: 10px;
    bottom:10px;
    padding-top:10px;
    width: 25%;
}
/* *****ログイン画面のスタイル***** */

/* *****食材管理画面のスタイル***** */

.edit_button button{
    position: absolute;
    position: fixed;
    left: 3%;
    bottom: 3%;
    
    border: 2px solid;
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
    max-width: 150px;
    max-height: 150px;

    background-color: rgb(176, 231, 127);
}
.edit_button button:hover{
    background-color: rgb(143, 188, 104);
}

.ingredient_list{
    text-align: left;
    border: 1px solid;
    padding-bottom: 10%;
    margin-right: 5%;

    background-color: #fefee5;
}

.ingredient_list p{
    padding-left: 5%;
}

.title{
    text-align: center;
    text-decoration: underline;

    background-color: rgb(240, 239, 239);

    margin-left: 15%;
    margin-right: 15%;
}

.ref_img{
    margin-left:2%;
    margin-top:2px;

    width: 8%;
    max-width: 40px;
    
}

/* *****食材管理画面のスタイル***** */

/* *****編集モードのスタイル***** */

.add_button button{
    position: absolute;
    position: fixed;
    left: 5;
    bottom: 32vh;

    border: 2px solid;
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    max-width:100px;
    max-height:100px;

    background-color: rgb(220, 118, 118)
}
.add_button button:hover{
    background-color: rgb(188, 105, 105);
}

.delete_button button{
    position: absolute;
    position: fixed;
    left: 5;
    bottom: 20vh;

    border: 2px solid;
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    max-width:100px;
    max-height:100px;

    background-color: rgb(112, 112, 245)
}
.delete_button button:hover{
    background-color: rgb(93, 93, 204);
}

.done_button button{
    position: absolute;
    position: fixed;
    left: 5px;
    bottom: 5px;

    border: 2px solid;
    border-radius:50%;
    width: 20vw;
    height: 20vw;
    max-width:100px;
    max-height:100px;

    background-color: rgba(176, 231, 127, 0.8)
}
.done_button button:hover{
    background-color: rgba(142, 188, 102, 0.8)
}

/* *****編集モードのスタイル***** */

/* *****レシピ検索画面のスタイル***** */

.recipe_search_button button{
    position: fixed;

    left: 5px;
    bottom: 5%;

    border: 2px solid;
    border-radius:50%;
    width: 20vw;
    height: 20vw;
    max-width:100px;
    max-height:100px;
}

/* *****レシピ一覧画面のスタイル***** */

.recipe_list{
    display:flex;
    flex-wrap: wrap;
    gap: 5px;
}

.recipe_list li{
    list-style: none;
    border: 1px solid;
    padding: 5px 20px;
    
    background-color: rgb(134, 135, 135);
    
    text-align:center;
    font-size: 1%;

    width: 15vw;
    height: auto;
}

.recipe_img{
    width: 14vw;
    height: auto;
}

/* *****レシピ一覧画面のスタイル***** */

/* *****レシピ詳細画面のスタイル***** */

.recipe_detail{
    background-color: #fefee5;

    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vh;

    margin-right: 20px;

    font-size: min(2.5vw, 20px);

    border: 1px solid;
}

.recipe_title{

    margin-left: 10%;
    margin-right: 10%;

    text-align: center;

    border: 5px dotted;

    background: linear-gradient(to right, rgb(146, 245, 148), rgb(189, 222, 90));
}

.recipe_detail_img{
    margin: auto;
    display: block;

    width: 40vw;
    margin-bottom: 10px;

    border: 1px solid;
}

.recipe_ingredients{
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.recipe_ingredient{
    margin-bottom: 10px;
}

.recipe_instract{
    display: flex;
    
    gap: 5px;
}

/* *****レシピ詳細画面のスタイル***** */

/* *****食材追加方法の選択画面のスタイル***** */

.add_options {
    display: flex;
    gap:10px;
    height: 30vw;
}

.add_option{
    flex-basis: 30vw;
}
.add_option button{
    width: 100%;
    height: 100%;
}

/* *****食材追加方法の選択画面のスタイル***** */

/* *****手動入力追加の画面***** */

.form_group{
    border-bottom: 1px solid;
}

/* *****手動入力追加の画面***** */


