{% extends 'base.html' %}
{% block body %}

<h1 class="title">食材の追加</h1>
<br>

<form id="textBoxForm" action="/addResult" method="post">

    <!-- 画像解析から取得した食材 -->
    {% for ingredient in ingredients %}
    <div class="form_group">
        <label>食材名　　: </label>
        <input type="text" id="name" name="name" required minlength="1" maxlength="10" size="10" value="{{ ingredient.name }}" oninput="validateInput(this)" />
        <br>

        <label>食材の量　: </label>
        <input type="number" id="quantity" name="quantity" required min="0.1" max="1000" style="width:100px" step = "0.1" value="{{ ingredient.quantity }}" />
        <br>

        <label>食材の単位: </label>
        <select id="unit" name="unit" required>
            <option>個</option>
            <option>g</option>
            <option>束</option>
            <option>本</option>
            <option>丁</option>
        </select>
        <br><br>

        <button type="button" class="form_delete_button" onclick="remove_form(this)">削除</button>
        <br>
    </div>
    {% endfor %}

    <!-- 最初の入力フィールドセット -->
    <div class="form_group">
        <label>食材名　　: </label>
        <input type="text" id="name" name="name" required minlength="1" maxlength="10" size="10px" oninput="validateInput(this)" />
        <br>

        <label>食材の量　: </label>
        <input type="number" id="quantity" name="quantity" required min="0.1" max="1000" style="width:100px" step="0.1" />
        <br>

        <label>食材の単位: </label>
        <select id="unit" name="unit" required>
            <option>個</option>
            <option>g</option>
            <option>束</option>
            <option>本</option>
            <option>丁</option>
        </select>

        <br><br>

        <button type="button" class="form_delete_button" onclick="remove_form(this)">削除</button>
        <br><br>
    </div>

    <!-- ボタンのコンテナ -->
    <div class="button_container">
        <button type="button" onclick="addTextBoxes()">テキストボックスを追加</button>
        <button type="submit">完了</button>
    </div>
</form>

<form action="/imageReco" method="GET" class="to_reco_img">
    <button type="submit">画像再読取り</button>
</form>

<script>
    function validateInput(input) {
        const forbiddenPattern = /[\s!@#\$%\^\&*\)\(+=._-]/g;

        const value = input.value;

        const errorMessage = document.getElementById('error-message');

        if (forbiddenPattern.test(value)) {
            input.value = value.replace(forbiddenPattern, '');
        }
    }

    function addTextBoxes() {
        const form = document.getElementById("textBoxForm");

        const formGroup = document.createElement("div");
        formGroup.className = "form_group";

        const nameLabel = document.createElement("label");
        nameLabel.innerHTML = "食材名　　: ";
        const nameBox = document.createElement("input");
        nameBox.type = "text";
        nameBox.id = "name";
        nameBox.name = "name";
        nameBox.required = true;
        nameBox.minLength = 1;
        nameBox.maxLength = 10;
        nameBox.size = 10;
        nameBox.oninput = function() { validateInput(this); };

        const quantityLabel = document.createElement("label");
        quantityLabel.innerHTML = "食材の量　: ";
        const quantityBox = document.createElement("input");
        quantityBox.type = "number";
        quantityBox.id = "quantity";
        quantityBox.name = "quantity";
        quantityBox.required = true;
        quantityBox.min = "0.1";
        quantityBox.max = "1000";
        quantityBox.style = "width:100px";
        quantityBox.step = "0.1";

        const unitLabel = document.createElement("label");
        unitLabel.innerHTML = "食材の単位: ";
        const unitBox = document.createElement("select");
        unitBox.id = "unit";
        unitBox.name = "unit";
        unitBox.required = true;

        const units = ["個", "g", "束", "本", "丁"];
        units.forEach(function(unit) {
            const option = document.createElement("option");
            option.value = unit;
            option.textContent = unit;
            unitBox.appendChild(option);
        });



        const form_delete_button = document.createElement("button");
        form_delete_button.type = "button";
        form_delete_button.className = "form_delete_button";
        form_delete_button.innerHTML = "削除";
        form_delete_button.onclick = function() {
            remove_form(this);
        };

        formGroup.appendChild(nameLabel);
        formGroup.appendChild(nameBox);
        formGroup.appendChild(document.createElement("br"));
        formGroup.appendChild(quantityLabel);
        formGroup.appendChild(quantityBox);
        formGroup.appendChild(document.createElement("br"));
        formGroup.appendChild(unitLabel);
        formGroup.appendChild(unitBox);
        formGroup.appendChild(document.createElement("br"));
        formGroup.appendChild(document.createElement("br"));
        formGroup.appendChild(form_delete_button);
        formGroup.appendChild(document.createElement("br"));
        formGroup.appendChild(document.createElement("br"));

        form.insertBefore(formGroup, document.querySelector('.button_container'));
    }

    function remove_form(button) {
        const formGroup = button.parentElement;
        formGroup.remove();
    }
</script>
{% endblock %}


