<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">
    {% block head %}{% endblock %}
</head>
<body class = "body2">
    <div class = "content">

        <aside class = "sidebar">
            
            <p>menu</p>
            <br>
            
            <ul>
                <li>
                    <form action = "/", method = "GET">
                        <button type = "submit" class = "index_button">
                            <img src = "{{url_for('static', filename = '/UI_img/'+ "list_img.png")}}" class = "list_img">
                            食材管理
                        </button>
                     </form>
                </li>

                <li>
                    <form action = "/recipeSearch", method = "GET">
                        <button type = "submit" class = "search_button">
                            <img src = "{{url_for('static', filename = '/UI_img/'+ "search_img.png")}}" class = "search_img"> 
                            レシピ検索
                        </button> 
                    </form>
                </li>

            <li><br><br><br></li>

                <li>
                    <form action = "/login", methid = "GET">
                         <button type = "submit">ログアウト</button>
                    </form>
                </li>
            </ul>
        </aside>

        <div class = "main">
            {% block body %}{% endblock %}
        </div>
    </div>

</body>
</html>