{% extends 'base.html' %}
{% block body %}

<h1 class = "title">食材管理画面</h1>
<br>

<div class = "add_button">
    <form method="GET" action="/add" class = "add_button">
        <button type="submit">追加</button>
    </form>
</div>

<form method="POST" action="/deleteIngredients">
    
    <div class = "ingredient_list">
        <ul>
            {% for ingredient in ingredients %}
            <li>
                <input type="checkbox" name="ingredients" value="{{ ingredient}}">
                <label> {{ ingredient.name }} <br> {{ ingredient.quantity }}{{ ingredient.unit }} - {{ingredient.expiry_date }}</label>
                <br><br>
            </li>
            {% endfor %}
        </ul>
    </div>
    
    <div class = "delete_button">
        <button type="submit">食材削除</button>
    </div>
</form>

<div class = "done_button">
    <form method="GET" action="/">
        <button type="submit">完了</button>
    </form>
</div>

{% endblock %}