{% extends 'base.html' %}
{% block body %}

<h1 class = "title">レシピ検索</h1>
<br>
<p>検索する食材を選んでください。</p>

<form method="POST" action="/recipeList">
    
    <div class = "recipe_search_button">
        <button type="submit">検索</button>
    </div>

    <div class = "ingredient_list">
        <ul>
            {% for ingredient in ingredients %}
            <li>
                <input type="checkbox" name="ingredients" value="{{ ingredient.name }}">
                <label> {{ ingredient.name }} <br> {{ ingredient.quantity }}{{ ingredient.unit }} - {{ingredient.expiry_date }}</label>
                <br><br>
            </li>
            {% endfor %}
        </ul>
    </div>
</form>

{% endblock %}