<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">
</head>

<body class="login-body">

        <div class = "login-container">
            <h2>サインアップ</h2>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li class = "flush">{{message}}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                <br><br>
           {% endwith %}
           
            <form action ="/signup" method = "POST">
            
                <div class = "login-group">
                    <label for = "userID">ユーザID</label>
                    <input type = "text" name = "user_id" id="user_id"> 
                </div>

                <div class = "login-group">
                    <label for = "userName">ユーザ名</label>
                    <input type = "text" name = "user_name" id = "user_name">
                </div>

                <div class = "login-group">
                    <label for = "passward">パスワード</label>
                    <input type = "text" name = "user_passward" > 
                </div>

                <br><br>

                <button type = "submit">登録</button>
            </form>
        </div>
</body>
</html>